# Ignore __pycache__ directories
__pycache__/

# Ignore Python virtual environment
.env/
.venv*
venv*/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore large or temporary files
*.csv
*.pkl

# temporary ignore for now
chromedriver

# Ignore compiled files
*.pyc
*.bin

# Ignore development files
src/complaint_management_platform.egg-info

# Ignore scripts for development


# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log
*.out
*.err

# Ignore coverage reports
*.coverage
.coverage.*

# Ignore playground notebooks
playground/

# Ignore data files
data/

# Ignore bruno environments
/bruno/*/environments/*

# Ignore .env files
*.env
.env
